@import '../../assets/sass/globals.scss';

.footer {
  background-color: $dark-gray;
  position: relative;
  color: white;
  height: 2rem;
  width: 100%;
  bottom: 0;
  
  .footer-text{
    font-size: 0.8rem;
    position: relative;
    float: right;
    margin-right: 2rem;
    line-height: 2.3em;
    .heart {
      color: $red;
      font-size: 1rem;
    }
  }
}