@import '../../assets/sass/globals.scss';

.footer {
  background-color: $dark-gray;
  color: white;
  height: 2rem;
  position: absolute;
  width: 100%;
  bottom: 0;
  
  .footer-text{
    position: absolute;
    font-size: 0.8rem;
    right: 0;
    margin-right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    .heart {
      color: $red;
      font-size: 1rem;
    }
  }
}