$light-gray: #edf3f8;
$gray: #879395;
$green: #1abc9c;
$blue: #2d8abd;
$yellow: #ffc000;

.content {
  position: relative;
  padding: 2rem 5rem;;
  max-width: 100%;
  .cards-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
