@import '../../assets/sass/globals.scss';

.card {
  position: relative;
  background: $gray;
  border-radius: 0.5rem;
  width: 15rem;
  height: 10rem;
  margin: 1rem 2rem;
  cursor: pointer;
  transition: 0.3s;
  
  
  .card-text {
    font-size: 14px;
    color: $dark-gray;
  }
}

.card:hover{
  background: $gray-hover;
}