@import '../../assets/sass/globals.scss';
@import '../../assets/sass/pokemon_types.scss';

.card {
  position: relative;
  background: $gray;
  border-radius: 0.5rem;
  width: 15rem;
  height: 10rem;
  margin: 1rem 2rem;
  cursor: pointer;
  transition: 0.3s;
  
  
  .card-text {
    font-size: 22px;
    color: $dark-gray;
    font-weight: bold;
  }

  .number-text {
    color: #f3f3f3;
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 95px;
    font-family: 'Righteous', cursive;
    font-weight: 200;
  }

  .pkmn-image {
    position: relative;
    z-index: 200;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
  }

  .footer-text{
    position: absolute;
    bottom: 0;
    margin: 10px 10px;
  }

  .card-type {
    font-size: 12px;
    color: $dark-gray;
    padding: 2px 4px;
    margin: 0 4px 0 0;
    border-radius: 5px;
  }

}

.card:hover{
  background: $gray-hover;
}