$grass: #9bcc50;
$poison: #b97fc9;
$fire: #fd7d24;
$flying: #3dc7ef;
$water: #4592c4;
$bug: #729f3f;
$normal: #a4acaf;
$electric: #eed535;
$ground: #f7de3f;
$fairy: #fdb9e9;
$fighting: #d56723;
$psychic: #f366b9;
$rock: #a38c21;
$steel: #9eb7b8;
$ice: #51c4e7;
$dragon: #f16e57;
$dark: #707070;
$ghost: #7b62a3;

        
/// POKEMON TYPES AND COLORS
.grass {background-color: $grass}
.poison {background-color: $poison}
.fire {background-color: $fire}
.flying {background-color: $flying}
.water {background-color: $water}
.bug {background-color: $bug}
.normal {background-color: $normal}
.electric {background-color: $electric}
.ground {background-color: $ground}
.fairy {background-color: $fairy}
.fighting {background-color: $fighting}
.psychic {background-color: $psychic}
.rock {background-color: $rock}
.steel {background-color: $steel}
.ice {background-color: $ice}
.dragon {background-color: $dragon}
.dark {background-color: $dark}
.ghost {background-color: $ghost}
